.header{
    background: #0d9606;
    height: 475px;
    border-radius: 15px;
    align-items: center;
    width: 100%;
}
.header-image{
    width: 500px;
    height: 400px;
    margin-top: 75px;
}

.content h3{
    color: white;
    font-weight: 1000;
    font-size: 35px;
    line-height: 50px;
    letter-spacing: 1px;
}
.appoinment-button{
    font-weight: 900;
    background-color: #ffffff;
    text-align: center;
    color: #0d9606;
    border: none;
    outline: none;
    width: 150px;
    height: 45px;
    border-radius: 40px;
    font-size: 18px;
    margin-top: 10px;
    
}
.content p{
    width: 70%;
    color: white;
    margin-top: 20px;
    line-height: 26px;
}

@media screen and (max-width: 768px) {
    .header {
        margin-left: 100px; 
        height: 600px; 
        width:60px; 
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        padding: 20px;
    }

    .content h3 {
        font-size: 27px; 
        line-height: 40px;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        margin-top: 20px;
        margin-left: 14px;
    }

    .content p {
        width: 90%; 
        margin: 10px auto;
        margin-left: 12px;
        margin-top: 27px;
    }

    .header-image {
        width: 80%; 
        height: auto; 
        margin-top: 20px;
        margin-bottom: -22px;
       
    }

    .appoinment-button {
        margin-top: 15px; 
        margin-left:-15px;
    }
}
@media screen and (min-width:992px) {
    .main{
        display: flex;
        justify-content: space-between;
        padding-left: 55px;
    }
    .content{
        margin-top: 115px;    
    }
    
}
